<div class="col-md-4">
  <div class="card">
    <img style="width: 50px" class="card-img-top" src="{{this.imageUrl}}" alt="{{this.username}}"/>
    <div class="card-body">
      <h5 class="card-title">{{this.username}}</h5>
</div>