<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.concertName}}</h5>
      <h2>{{musician}}</h2>
      <h3>{{price}}</h3>
      <a href="/concert-detail/{{this._id}}">Details</a>
</div>