<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h2>{{band}}</h2>
      <h3>{{price}}</h3>
      <a href="/concert-pay/{{this._id}}">Bought Ticket</a>
</div>