<nav style="position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: white;
    font-weight: 900;
    -webkit-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.75);
    box-sizing:border-box">
    <div>
      <a href="/">Home</a>
    </div>
  <a href="/profile" style="width: 36px; height: 36px; border-radius: 50%; overflow: hidden; background-color:white; display:flex; justify-content:center; align-items:center">
    <img style="height: 30px;" src={{user.imageUrl}} alt="user_image">
  </a>
</nav>