<nav style="position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    background-color: white;
    font-weight: 900;
    box-sizing:border-box;
    border-bottom: 1px solid black; z-index: 999">
  <div>
    <a href="/home"><img src="/images/logo.svg" alt="Logo" style="width: 100px; margin-top: 6px; filter: brightness(0)"></a>
  </div>

<div>
  {{#if listener}}
  <a href="/listener" style="color:black">Listener</a>
  {{/if}}
  {{#if musician}}
  <a href="/profile" style="color:black">Musician</a>
  {{/if}}
  <a href="/auth/logout" style="color:black">Logout</a>
</div>

</nav>

<div id="particles-foreground" class="vertical-centered-box"></div>
<div id="particles-background" class="vertical-centered-box"></div>

<div class="container-fluid profile-container" style="background-color:black; height: 100vh; color: white; margin:0">
  <div class="row justify-content-center align-items-center pt-5">
    <h1>Concert: {{ name }}</h1>
  </div>
  <div class="row justify-content-center align-items-center mt-5">
    <video width="60%" id="myVideo" controls style="z-index:1"></video>
  </div>
</div>



<!-- Use HLS.js to support the HLS format in browsers. -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@0.8.2"></script>

<script>
  ; (function () {
    // Replace with your asset's playback ID
    var playbackId = "{{playbackId}}"
    var url = "https://stream.mux.com/" + playbackId + ".m3u8"
    var video = document.getElementById("myVideo")
    // Let native HLS support handle it if possible
    if (video.canPlayType("application/vnd.apple.mpegurl")) {
      video.src = url
    } else if (Hls.isSupported()) {
      // HLS.js-specific setup code
      hls = new Hls()
      hls.loadSource(url)
      hls.attachMedia(video)
    }
  })()
</script>