<div class="landing-container">
  <div class="nav landing-nav">
    <div class="col d-flex justify-content-start">
      <img src="/images/logo.svg" style="width: 150px" alt="">
    </div>
    
<div id="particles-foreground" class="vertical-centered-box"></div>


    <div class="col d-flex justify-content-end align-items-center">
      <a class="landing-link">ABOUT</a>
      <a href="/auth/login"  class="landing-link">LOGIN</a>
      <a href="/auth/signup" class="landing-link">JOIN US!</a>
    </div>
  </div>

  <div style="margin: 10%; width: 40%" class="typewriter">
    <h1 id="wouldnt" style="line-height: 3.5rem; margin-top: 70px;">
    </h1>
    <br />
    <br />

    <h1 id="wegot" style="line-height: 3.5rem;">
    </h1>
  </div>
</div>