
<div id="particles-foreground2" class="vertical-centered-box2"></div>
    <div id="particles-background2" class="vertical-centered-box2"></div>

<div class="container profile-container">

{{!-- NAV --}}
  <nav style="position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    background-color: white;
    font-weight: 900;
    box-sizing:border-box;
    border-bottom: 1px solid black">
    <div>
      <a href="/home"><img src="/images/logo.svg" alt="Logo"
          style="width: 100px; margin-top: 6px; filter: brightness(0)"></a>
    </div>

<div>
  <a href="/profile" style="color:black">Profile</a>
  <a href="/auth/logout" style="color:black">Logout</a>
</div>

    {{!-- <div class="dropdown">
     <a 
      data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"
        style="cursor: pointer; width: 36px; height: 36px; border-radius: 50%; border: 0.5px solid black;overflow: hidden; background-color:white; display:flex; justify-content:center; align-items:center">
        <img style="height: 30px;" src={{imageUrl}}  alt="user_image">
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" style="color: red" href="/auth/logout">Logout</a>
      </div>
    </div> --}}
  </nav>

    <div class="row justify-content-center"></div>

  {{!-- TERMINA NAV --}}

<div class="container profile-container">
  <div class="row">
    <h4>Welcome to your profile!</h4>
  </div>
  <div class="row justify-content-center">
    <div
      style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; width: 160px; height: 160px; border: 1px solid black">
      <img src="{{imageUrl}}" alt="Profile image">
    </div>
  </div>
  <div class="row justify-content-center">
    <h1>{{username}}</h1>
  </div>
</div>

<br>
<br>
<br>

<h5>Artists you follow</h5>
<br>
<div style="display: flex; flex-direction: column;">
<div style= "display: flex; justify-content:space-around">
  {{#each favouriteArtist}}
  {{> artistUserCard this}} 
  {{/each}}
</div>
<br>
<br>

<h5>Tickets you've bought</h5>
<br>
<div>
  {{#each tickets}}
  {{>concertTickets this}}
  {{/each}}
</div>

</div>