#signupContainer {
    padding-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

#loginContainer {
    padding-top: 170px;
    font-family: 'Roboto Mono', monospace;
}

#imageSignup {
    display: none;
}